body{
  
            margin-left: 0px;
            margin-right: 0px;
            width: 1360px;
            border-top-width: 0px;
            border-right-width: 0px;
            padding-bottom: 0px;
            border-left-width: 0px;
            padding-left: 0px;
            padding-right: 0px;
            border-bottom-width: 0px;
            
} 

@import url(//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic?1462906677);
 ul,
 ol,
 li,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 pre,
 form,
 body,
 html,
 p,
 blockquote,
 fieldset,
 input {
   margin: 0;
   padding: 0;
 }
 
 body {
   width: 100%;
   height: 100%;
   min-height: 100%;
   background: white;
   color: #888888;
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   font-weight: normal;
   line-height: normal;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 

 
 a img {
   border: 0;
 }
 
 h2 {
   color: #333333;
   padding-bottom: 15px;
   font-family: 'Lato', sans-serif;
   font-size: 25px;
   font-weight: 400;
   line-height: 40px;
 }
 
 div.paragraph {
   color: #888888;
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   font-weight: 400;
 }
 
 p {
   color: #888888;
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   font-weight: 400;
 }
 

 input[type="text"],
 input[type="email"]
input[type="password"],
 textarea {
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   text-shadow: none;
 }

 select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   text-indent: 0.01px;
   text-overflow: '';
 }
 

 .container {
   width: 1024px;
   margin: 0 auto;
 }
 
 #icontent .container {
   width: 1024px;
 }
 
 
 
 .dusk-header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   background: #202020;
   box-sizing: border-box;
   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
   -webkit-transition: all 300ms ease;
   -moz-transition: all 300ms ease;
   -ms-transition: all 300ms ease;
   -o-transition: all 300ms ease;
   transition: all 300ms ease;
 }
 
 .dusk-header .nav-wrap {
   width: 100%;
   background: #202020;
   -webkit-transition: all 300ms ease;
   -moz-transition: all 300ms ease;
   -ms-transition: all 300ms ease;
   -o-transition: all 300ms ease;
   transition: all 300ms ease;



 }
 
 .dusk-header .container {
   display: table;
   overflow-y: hidden;
 }
 
 .dusk-header label.hamburger {
   display: none;
 }
 
 .dusk-header .logo {
   display: table-cell;
   vertical-align: top;
   margin-right: 30px;
   color: white;
 }
 
 .dusk-header .logo .wsite-logo {
   vertical-align: auto !important;
 }
 
 .dusk-header .logo a {
   display: block;
   overflow: hidden;
   margin-right: 30px;
   color: white;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   font-family: 'Lato', sans-serif;
   font-size: 26px;
   font-weight: 300;
   line-height: 40px;
 }
 
 .dusk-header .logo img {
   display: block;
   overflow: hidden;
   max-width: 200px;
   max-height: 40px;
 }
 
 .dusk-header .logo #wsite-title {
   display: block;
   max-width: 400px;
   font-family: 'Lato', sans-serif;
   font-size: 26px;
   font-weight: 300;
   line-height: 40px;
 }
 
 .nav {
   display: table-cell;
   overflow: hidden;
   padding: 0;
   vertical-align: middle;
 }
 
 .nav ul {
   float: right;
   list-style-type: none;
   max-width: 1000px;
 }
 
 .nav li {
   display: inline-block;
   float: left;
   margin: 0;
   padding: 0;
   list-style: none;
 }
 
 .nav li > a.wsite-menu-item {
   display: block;
   padding: 24px 20px;
   border: 0;
   color: white;
   letter-spacing: 0.04em;
   font-family: 'Lato', sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: normal;
   -webkit-transition: all 300ms ease;
   -moz-transition: all 300ms ease;
   -ms-transition: all 300ms ease;
   -o-transition: all 300ms ease;
   transition: all 300ms ease;
 }
 
 .nav li#active > a.wsite-menu-item,
 .nav li > a.wsite-menu-item:hover {
   background: #000;
   color: white;
   border: none;
 }
 
 .mobile-nav {
   display: none;
 }
 
 #wsite-menus .wsite-menu li a {
   padding: 10px 0 !important;
   color: white;
   background: #202020;
   border: 0;
   font-family: 'Lato', sans-serif;
   font-size: 13px;
   font-weight: normal;
   line-height: normal;
 }
 
 #wsite-menus .wsite-menu li a:hover {
   color: #fff;
   background: #000;
 }
 
 #wsite-menus .wsite-menu-arrow {
   color: transparent;
   font-size: 0;
 }
 
 #wsite-menus .wsite-menu-arrow:before {
   display: block;
   color: white;
   content: '\203A';
   font-family: 'Lato', sans-serif;
   font-size: 24px;
   font-weight: normal;
   line-height: 11px;
 }
 
 .banner-wrap {
   position: relative;
   width: 100%;
   background: url('theme/default-bg.jpg?1462906677') center center no-repeat;
   background-size: cover;
 }
 
 .banner-wrap:before {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   content: '';
 }
 
 .banner-wrap .container {
   position: relative;
   display: table;
   height: 100%;
 }
 
 .banner-wrap .banner {
   display: table-cell;
   padding: 0;
   opacity: 1;
   vertical-align: middle;
   text-align: center;
   -webkit-transition: all 500ms ease;
   -moz-transition: all 500ms ease;
   -ms-transition: all 500ms ease;
   -o-transition: all 500ms ease;
   transition: all 500ms ease;
 }
 
 .banner-wrap .banner h2 {
   padding-bottom: 15px;
   color: white;
   text-transform: uppercase;
   font-family: 'Lato', sans-serif;
   font-size: 54px;
   font-weight: 300;
   line-height: normal;
 }
 
 .banner-wrap .banner div.paragraph {
   padding-bottom: 25px;
   color: white;
   letter-spacing: 0.05em;
   font-family: 'Lato', sans-serif;
   font-size: 22px;
   font-weight: 300;
   line-height: 34px;
 }
 
 .banner-wrap .banner p {
   padding-bottom: 25px;
   color: white;
   letter-spacing: 0.05em;
   font-family: 'Lato', sans-serif;
   font-size: 22px;
   font-weight: 300;
   line-height: 34px;
 }
 
 .banner-wrap .banner .button-wrap {
   display: inline-block;
 }
 
 .banner-wrap .banner .wsite-button,
 .banner-wrap .banner .wsite-button-large {
   background: transparent;
   text-align: center !important;
 }
 
 .banner-wrap .banner .wsite-button .wsite-button-inner,
 .banner-wrap .banner .wsite-button-large .wsite-button-inner {
   border: 2px solid white;
   background: transparent;
   color: white !important;
   text-transform: uppercase;
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: normal;
   -webkit-transition: all 500ms ease;
   -moz-transition: all 500ms ease;
   -ms-transition: all 500ms ease;
   -o-transition: all 500ms ease;
   transition: all 500ms ease;
 }
 
 .banner-wrap .banner .wsite-button:hover .wsite-button-inner,
 .banner-wrap .banner .wsite-button-large:hover .wsite-button-inner {
   background: white;
   color: #ff8400 !important;
 }
 
 .banner-wrap .banner .wsite-button-highlight .wsite-button-inner,
 .banner-wrap .banner .wsite-button-large.wsite-button-highlight .wsite-button-inner {
   background: #ff8400;
   color: white !important;
   border: 2px solid #ff8400;
 }
 
 .banner-wrap .banner .wsite-button-highlight:hover .wsite-button-inner,
 .banner-wrap .banner .wsite-button-large.wsite-button-highlight:hover .wsite-button-inner {
   background: #e97901;
   color: white !important;
   border: 2px solid #e97901;
 }
 
 .main-wrap {
   width: 100%;
 }
 
 .main-wrap .container {
   min-height: 400px;
   padding: 70px 0;
   box-sizing: border-box;
 }
 
 .main-wrap div.paragraph {
   padding: 0 0 25px;
 }
 
 .main-wrap p {
   padding: 0 0 25px;
 }
 
.login, .signup {

 margin-top: 120px;
    vertical-align: middle;
    text-align: center;
}
input {
  width: 300px;
    height: 30px;
  font-size:25px;
}
.btn{
  margin-top: 10px;
  
    width: 102px;
    height: 42px;

}
h3{
    margin-top: 10px;

}
.appear {
    display: none;
}
    
.hover:hover + .appear {
    display: block;
}

.one {

  margin-top:120px;
      vertical-align: middle;
    text-align: center;
  }
.one a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px;
    display:inline-block;
  text-align: left;
}
.one li :hover {
  color : blue;
}
.one li :active {
  color : red;
}
ul {
  display: inline;
  margin: 0;
  padding-right: 80px;
}
ul li {
  display: inline-block;
}
ul li:hover {
  background: 000
}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 180px;
  display: none;
    padding: 0;
}
ul li ul li { 
  background: 000; 
  display: block; 
  padding: 0;
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: 000;}


option{
    vertical-align: middle;
    text-align: center;
} 
.right{
  float: right;
}

h4{
  font-size:30px;
}
