
<div class="one">
  <ul>
    <li>
      <h4>Period 1</h4>
      <ul>
        <li><a href="#">Mr.Carr AP Bio</a></li>
        <li><a href="#">Mrs.Scholz Physics</a></li>
        <li><a href="#">Ms.Lindsay IM2</a></li>
        <li><a href="#">Ms.Hahn AP Calculus</a></li>
        <li><a href="#">Ms.Ross Yearbook</a></li>
        <li><a href="#">Mr.Kirchner English 12</a></li>
        <li><a href="#">Mr.Flores English 11</a></li>
        <li><a href="#">Ms.Kelly Human Geography</a></li>
        <li><a href="#">Mr.Rocha Government</a></li>
        <li><a href="#">Mr.Alvarado Computer Science</a></li>
      </ul>
    </li>
  </ul><ul>
    <li>
      <h4>Period 2</h4>
      <ul>
        <li><a href="#">Mrs.Loveless IM3</a></li>
        <li><a href="#">Ms.Lopez Spanish 3 Native</a></li>
        <li><a href="#">Mr.Maldonado APUSH</a></li>
        <li><a href="#">Ms.Hahn Pre Calculus</a></li>
        <li><a href="#">Ms.Ross Art</a></li>
        <li><a href="#">Mr.Astor Chemistry</a></li>
        <li><a href="#">Mrs.Scholz Physics</a></li>
        <li><a href="#">Mr.Rocha Government</a></li>
        <li><a href="#">Mr.Williams P.E.</a></li>
        <li><a href="#">Ms.Gotler Environmental Science</a></li>
      </ul>
    </li>
  </ul><ul>
    <li>
      <h4>Period 3</h4>
      <ul>
        <li><a href="#">Ms.Ross DigitalDesign</a></li>
        <li><a href="#">Mr.Williams P.E.</a></li>
        <li><a href="#">Mr.Astor AP Chemistry</a></li>
        <li><a href="#">Ms.Torres World History</a></li>
        <li><a href="#">Mr.Rocha Government</a></li>
        <li><a href="#">Mr.Flores English 11</a></li>
        <li><a href="#">Mrs.Scholz STEM</a></li>
        <li><a href="#">Mr.Kirchner English 12</a></li>
        <li><a href="#">Ms.Ross Digital Design</a></li>
        <li><a href="#">Mr.Maldonado US History</a></li>
      </ul>
    </li>
  </ul><ul>
    <li>
      <h4>Period 4</h4>
      <ul>
        <li><a href="#">Mrs.Scholz STEM</a></li>
        <li><a href="#">Mr.Flores AP English</a></li>
        <li><a href="#">Mr.Maldonado US History</a></li>
        <li><a href="#">Ms.Gotler AP Environmental Science</a></li>
        <li><a href="#">Ms.Hahn Pre Calculus</a></li>
        <li><a href="#">Mr.Kirchner AP Literature</a></li>
        <li><a href="#">Mr.Williams P.E.</a></li>
        <li><a href="#">Mr.Astor Chemistry</a></li>
        <li><a href="#">Mr.Carr Biology</a></li>
        <li><a href="#">Ms.Hernandez English 9</a></li>
      </ul>
    </li>
  </ul><ul>
    <li>
      <h4>Period 5</h4>
      <ul>
        <li><a href="#">Mr.Maldonado History</a></li>
        <li><a href="#">Mrs.Loveless</a></li>
        <li><a href="#">Ms.Manning Journalism</a></li>
        <li><a href="#">Ms.Hahn Pre Calculus</a></li>
        <li><a href="#">Mr.Kirchner English 12</a></li>
        <li><a href="#">Mr.Rocha Economics</a></li>
        <li><a href="#">Mr.Alvarado Computer Science</a></li>
        <li><a href="#">Ms.Ross Art</a></li>
        <li><a href="#">Ms.Torres World History</a></li>
        <li><a href="#">Ms.Itani IM2</a></li>
      </ul>
    </li>
  </ul><ul>
    <li>
      <h4>Period 6</h4>
      <ul>
        <li><a href="#">Mr.Astor Computer Literacy</a></li>
        <li><a href="#">Ms.Reynoso English 10 Honors</a></li>
        <li><a href="#">Mrs.Scholz STEM</a></li>
        <li><a href="#">Ms.Lindsay IM2</a></li>
        <li><a href="#">Ms.Ross AP Studio Art</a></li>
        <li><a href="#">Mr.Carr AP Bio</a></li>
        <li><a href="#">Ms.Manning Journalism</a></li>
        <li><a href="#">Ms.Lopez AP Spanish</a></li>
        <li><a href="#">Ms.Itani IM2</a></li>
        <li><a href="#">Ms.Hahn Pre Calculus</a></li>
      </ul>
    </li>
  </ul>
</div>
 