<div class="banner-wrap wsite-background wsite-custom-background" style="
    height: 701px;">
    <div class="container">
      <div class="banner">
        <h2><span class="wsite-text wsite-headline">Homework?</span></h2>

        <p class="hover"> Spread The Work</p>
        <p class="appear">If you even remember to check the website</p>

            


        <div class="button-wrap"></div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <!-- end banner-wrap -->
<!-- we added our titles and our slogan -->