<!doctype html>
<html>
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Homework???</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="http://3.bp.blogspot.com/-s4DtRI-nLEw/U-Ph3ZE0NRI/AAAAAAAAAdc/8jGT5gfb-Wg/s1600/keep-calm-and-do-your-homework-252.png" rel="shortcut icon">


    <style>
      .wsite-background {background-image: url("http://www.stetsonkpatton.com/wp-content/uploads/2013/10/help-wanted.jpg") !important;background-repeat: no-repeat !important;background-position: 50.00% 47.31% !important;background-size: 100% !important;background-color: transparent !important;}
      body.wsite-background {background-attachment: fixed !important;}.wsite-background.wsite-custom-background{ background-size: cover !important}
    </style>
  </head>
  
  <body>
      <div class="dusk-header">
        <div class="nav-wrap">
          <div class="container" style="
            margin-left: 5px; 
            margin-right: 0px; 
            width: 1290px;">
            <div class="logo"><span class="wsite-logo">

              <a href="/"><span id="wsite-title">homework???</span></a>

              </span>
                <% if logged_in? %>
                  <h5 >Welcome, <%= current_user.username %></h5>
                  <a href="/logout" class="right"><p>Logout</p></a>
                  <a href="/homework" class="right"><p>Homework</p></a>
                  <a href="/classes" class="right"><p>Classes</p></a>
                  <a href="/ph" class="right"><p>Post Homework</p></a>

                <% else %>
                  <a href="/login" class="right"><p>Login</p></a>
                  <a href="/sign-up" class="right"><p>Sign Up</p></a>
                <% end %>
            </div>
          </div>
        </div>
      </div>
          <br>
          <%= yield %>
  </body>
  
</html>
<!-- we will create a sign up form so people could create their accounts  -->
<!-- we will create a login form so the people that signed up could log in -->
<!-- once they are logged in they could subit homework and share it with teachers and other students. They will have permanent accounts they could also signout and there homework will be saved. -->
<!-- it will also have a classes button and a post button. the class button will allow you to add your classes and post will allow you to post your homework -->
<!-- we added a nav bar so we could add buttons to direct you where you need to go -->