<div class="one">
<h2 >Post homework</h2>
<h3>What's the homework??? And when's it due???</h3>
  
<form action="/ph" method="POST" >
    
  <p>Class: <br> <input type="text" name="name" ></p>
  <p>Homework: <br> <input type="text" name="work"></p>
  <input class="btn btn-primary" type="submit">

</form>

<!--this is where we will add the post action. and we will make the post button so you could submit homework -->
</div>